:root {
  --dark-red: #cc0000;
  --light-red: #ed1b2e;
  --dard-blue: #2c70a0;
  --light-blue: #28abc9;
  --cyan: #00ccff;
  --blue-green: #187793;
  --white-like: #3eaed5;
  --black: #000a33;
  --violet: #984b84;
  --yellow: #f6a732;
}
